h1{
  font-family: "Arial Black";
}
img.headerLogo{
  width: 150px;
}
td.logo{
  width: 7%;
}
table{
  width: 93%;
}
td.welcome{
  text-align:center;
}
h4{
  margin-top:10px;
  margin-bottom:10px;
}
img.button{
  border-width: 0px;
  width: 100px;
}
body{
  align-items: center;
  text-transform: uppercase;
  font-family: 'Segoe UI Light';
  background-color: #9cc3d5ff;
}
section{

  margin-top: 100px;
  background-color: #0063b2ff;
  width:90%;
  border-radius: 20px;
  color: white;
}

.button{
  display: inline-block;
  text-align: center;
  margin:30px;
  width: 200px;
  border: 2px solid black;
  border-radius: 20px;
}
.button:hover{
  border-color: white;
}
.spacer{
  height: 30px;
  width: auto;
}
.user{
  font-size: 20px;
  color: black;
  text-align: right;
}
