a.circleContine{
  color: white;
  border-radius: 80px;
  border-width:  2px;
  border-color: white;
  border-style: solid;
  padding: 10px 20px;
  font-size: 30px;
  transition:0.2s;

}
.posttimestamp{
  color: #7a9dc5;

}
p{
  text-transform: none;

}
.area select{
  background-color: white;
  color: black;
}
a.circleContine:hover{
  background-color: white;
  color: black;
  transition:0.2s;
 }
 .completed{

 }
 pre{
   padding-left: 50px;
   text-align: left;
 }
 table.timetable td,table.timetable th{
   font-size: 20px;
   text-align: center;
   padding-bottom: 20px;
 }
.heading{
  font-size: 30px;
  font-weight: bold;
}
table.assignments{
  font-size: 18px;
}
table input.continue{
  background-color: white;
  color: black;
  width: 50%;
}
table.attendance th{
  padding-bottom: 15px;
  border-bottom:  2px solid black;
}
table.attendance td{
  padding-bottom: 10px;
    padding-top: 10px;
  border-bottom:  2px solid black;
}
input.continue{
  color: white;
  transition: 0.2s;
  font-family: 'Segoe UI Light';
  height: 40px;
  margin-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
  border-radius: 20px;
  background-color: transparent;
  border-color: white;
}
input.continue:hover{
  transition: 0.2s;
  background-color: #9cc3d5ff;
}
table.assignments td{
  padding-bottom: 10px;
}
table.assignments tr{
  transition: 0.2s;
}
table.assignments tr:hover{
  background-color: white;
  color: black;
  transition: 0.2s;
}
.subheading{
  font-size: 20px;
  font-weight: bold;
}
img.assignments{
  width:30px;
}
.pending{
  background-color: red;
}
