a.circleContine{
  color: white;
  border-radius: 80px;
  border-width:  2px;
  border-color: white;
  border-style: solid;
  padding: 10px 20px;
  font-size: 30px;
  transition:0.2s;

}
.area select{
  background-color: white;
  color: black;
}
a.circleContine:hover{
  background-color: white;
  color: black;
  transition:0.2s;
 }
